---
import Crown from '../../icons/Crown.astro';
import Card from './Card.astro';
import JobItem from './JobItem.astro';
import { addSpanToWords } from '../../utils';

import { getI18N } from '../../i18n';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const wordsToHightlightWork1: Record<string, string[]> = {
    es: ['Vue', 'TypeScript, Playwright y Vitest'],
    en: ['Vue', 'TypeScript, Playwright and Vitest']
};

const modifiedDescriptionWork01 = addSpanToWords(
    i18n.INFO.EXPERIENCE.JOB_1.DESCRIPTION,
    wordsToHightlightWork1[currentLocale as string],
    'color-text'
);

const wordsToHightlightWork2: Record<string, string[]> = {
    es: ['Polymer a Lit con web components'],
    en: ['Polymer to Lit with web components']
};

const modifiedDescriptionWork02 = addSpanToWords(
    i18n.INFO.EXPERIENCE.JOB_2.DESCRIPTION,
    wordsToHightlightWork2[currentLocale as string],
    'color-text'
);

const wordsToHightlightWork3: Record<string, string[]> = {
    es: ['automoción', 'liderando y gestionando'],
    en: ['automotive', 'leading and managing']
};

const modifiedDescriptionWork03 = addSpanToWords(
    i18n.INFO.EXPERIENCE.JOB_3.DESCRIPTION,
    wordsToHightlightWork3[currentLocale as string],
    'color-text'
);
---

<Card title="Experiencia">
    <span
        class="crown"
        slot="icon"
        ><Crown /></span
    >
    <div
        class="experience-content"
        slot="content"
    >
        <span class="line show-line"></span>
        <ul class="jobs">
            <JobItem
                date={i18n.INFO.EXPERIENCE.JOB_1.DATE}
                title={i18n.INFO.EXPERIENCE.JOB_1.TITLE}
                company={i18n.INFO.EXPERIENCE.JOB_1.COMPANY}
                ><p
                    class="description"
                    slot="description"
                    set:html={modifiedDescriptionWork01}
                />
            </JobItem>
            <JobItem
                date={i18n.INFO.EXPERIENCE.JOB_2.DATE}
                title={i18n.INFO.EXPERIENCE.JOB_2.TITLE}
                company={i18n.INFO.EXPERIENCE.JOB_2.COMPANY}
                ><p
                    class="description"
                    slot="description"
                    set:html={modifiedDescriptionWork02}
                />
            </JobItem>
            <JobItem
                date={i18n.INFO.EXPERIENCE.JOB_3.DATE}
                title={i18n.INFO.EXPERIENCE.JOB_3.TITLE}
                company={i18n.INFO.EXPERIENCE.JOB_3.COMPANY}
                ><p
                    class="description"
                    slot="description"
                    set:html={modifiedDescriptionWork03}
                />
            </JobItem>
        </ul>
    </div>
</Card>

<style>
    .crown {
        color: var(--badge-container-dark);
    }

    .experience-content {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        margin-left: 0.5rem;
    }

    .jobs {
        position: relative;
        display: flex;
        gap: 1.7rem;
        flex-direction: column;
    }

    .line {
        position: absolute;
        content: '';
        width: 1px;
        height: 85%;

        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        background: linear-gradient(to bottom, #d6d6d68c 50%, #48484800);
    }

    .description {
        width: 45ch;
        text-wrap: pretty;
        font-size: 0.9rem;
        margin-top: -0.5rem;
        color: var(--text-secondary);
    }

    .show-line {
        view-timeline-name: --show-line;
        view-timeline-axis: block;

        animation-timeline: --show-line;
        animation-name: show-line;
        animation-range: entry 30% cover 50%;
        animation-fill-mode: both;
    }

    .show-animated {
        animation: show-line 0.3s linear forwards;
    }

    @keyframes show-line {
        from {
            opacity: 0;
            transform: translateY(55%);
        }

        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    @media (width <= 800px) {
        .description {
            width: 37ch;
        }
    }

    @media (width <= 400px) {
        .description {
            width: 30ch;
        }
    }

    @media (width <= 350px) {
        .description {
            width: 25ch;
        }
    }

    @media (width <= 400px) {
        .line {
            margin-top: -3rem;
        }
    }
</style>
