---
interface Props {
    year: number;
    month?: string;
    left: number;
    width?: number;
    top?: number;
    title?: string;
    text?: string;
    content?: string[];
}

const { year, month, left, width, top, title, text, content } = Astro.props;

const hasInfoBox = width && top && title && text && content;
---

<div
    style={{
        left: `${left}%`
    }}
    class="absolute flex h-full w-[5%] flex-col items-center"
    '
>
    <p class="flex w-[5rem] justify-center font-light text-[var(--white-color-nav)]">
        {`${month ? month : ''} ${year}`}
    </p>
    <span
        id="year-line"
        class="h-full w-[1px] bg-gradient-to-b from-transparent via-[var(--white-color-nav)] to-transparent"
    ></span>
</div>
{
    hasInfoBox && (
        <>
            <article
                style={{
                    left: `${left + 2.5}%`,
                    top: `${top - 12}%`,
                    width: `${width}%`,
                    height: `18%`
                }}
                class="bg-white-soft-blur group absolute grid cursor-pointer place-items-center"
            >
                <div class="flex flex-col items-center">
                    <p class="period-text font-light">{title}</p>
                    <p class="period-text font-light text-[var(--white-color-nav)]">
                        {text}
                    </p>
                </div>
                <div
                    class:list={[
                        { 'border-grad-bottom top-[100%]': year < 2020 },
                        { 'border-grad top-[-170%]': year > 2020 },
                        'absolute z-[10] block w-[98%] rounded-xl p-4 opacity-0 transition-opacity duration-200 ease-in group-hover:opacity-100'
                    ]}
                >
                    <ul class="flex flex-col items-center justify-center rounded-xl">
                        {content.map((item) => (
                            <li class="text-sm font-light text-[var(--white-color-nav)]">
                                {item}
                            </li>
                        ))}
                    </ul>
                </div>
            </article>
            <span
                style={{
                    left: `${left + 2.5}%`,
                    top: `${top + 5}%`,
                    width: `${width}%`
                }}
                class="absolute h-[1px] bg-gradient-to-r from-transparent via-[var(--white-color-nav)] to-transparent"
            />
            <span
                style={{
                    left: `${left + 2.5}%`,
                    top: `${top + 5}%`,
                    width: `${width}%`
                }}
                class="absolute left-[8%] top-[21.5%] h-[1px] w-[5%] bg-gradient-to-r from-transparent via-white to-transparent"
            />
        </>
    )
}
