---
interface Props {
    year: number;
    month?: string;
    left: number;
    width?: number;
    top?: number;
    title?: string;
    text?: string;
    content?: string[];
}

const { year, month, left, width, top, title, text, content } = Astro.props;

const hasInfoBox = width && top && title && text && content;
---

<div
    style={{
        left: `${left}%`
    }}
    class="absolute flex h-full w-[5%] flex-col items-center"
    '
>
    <p
        class="flex w-[5rem] justify-center text-[0.8rem] font-light text-[var(--white-color-nav)] md:text-[1rem]"
    >
        {`${month ? month : ''} ${year}`}
    </p>
    <span
        id="year-line"
        class="h-full w-[1px] bg-gradient-to-b from-transparent via-[var(--white-color-nav)] to-transparent"
    ></span>
</div>
{
    hasInfoBox && (
        <>
            <article
                style={{
                    left: `${left + 2.5}%`,
                    top: `${top - 12}%`,
                    width: `${width}%`,
                    height: `18%`
                }}
                class="bg-white-soft-blur group absolute grid cursor-pointer place-items-center"
            >
                <div class="flex flex-col items-center">
                    <p class="period-text w-[150%] text-center text-[0.8rem] font-light md:w-full md:text-[1rem]">
                        {title}
                    </p>
                    <p class=" period-text w-[150%] text-center text-[0.7rem] font-light text-[var(--white-color-nav)] md:w-full md:text-[1rem]">
                        {text}
                    </p>
                </div>
                <div
                    class:list={[
                        { 'top-[100%]': year < 2020 },
                        { ' top-[-80%]': year > 2020 },
                        'absolute z-[10] block  rounded-xl p-4'
                    ]}
                >
                    <ul class="hidden flex-col items-start justify-center rounded-xl md:flex">
                        {content.map((item) => (
                            <li class="flex items-center gap-2">
                                <span class="h-[0.3rem] w-[0.3rem] rounded-full bg-[var(--white-color-nav)]" />
                                <p class="w-full text-sm font-light text-[var(--white-color-nav)]">
                                    {item}
                                </p>
                            </li>
                        ))}
                    </ul>
                </div>
            </article>
            <span
                style={{
                    left: `${left + 2.5}%`,
                    top: `${top + 5}%`,
                    width: `${width}%`
                }}
                class="absolute h-[1px] bg-gradient-to-r from-transparent via-[var(--white-color-nav)] to-transparent"
            />
            <span
                style={{
                    left: `${left + 2.5}%`,
                    top: `${top + 5}%`,
                    width: `${width}%`
                }}
                class="absolute left-[8%] top-[21.5%] h-[1px] w-[5%] bg-gradient-to-r from-transparent via-white to-transparent"
            />
        </>
    )
}
